.list{
    width: 100%;
    min-height: 400px;
    /* background: lightblue; */
    float: left;
    position: fixed;
    bottom: 0px;
    padding: 40px 60px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
    font-weight: 700;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
    
}

.list p {
    font-size: 30px;
}

.Items{
    width: 100%;
    height: 220px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap; 
    scroll-behavior: smooth; 
}